.btn {
  border: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  outline: 0 !important;
  padding: 0.9375em 2.1875em;
  text-transform: uppercase;
}

/* Button 1 */
.btn-1 {
  background-color: var(--btn-color-1);
  color: #000;
  transition: all 0.3s ease-in 50ms;
}

.btn-1:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--btn-color-1);
  transition: all 0.3s ease-out 50ms;
}

.btn-2 {
  background-color: var(--btn-color-1);
  border-radius: var(--border-radius);
  color: #000;
  transition: all 0.3s ease-in 50ms;
}

.btn-2:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--btn-color-1);
  transition: all 0.3s ease-out 50ms;
}

/* Button 2 */
.btn-3 {
  background-color: var(--btn-color-1);
  color: #000;
}

.btn-3:hover {
  animation: pulse 1.5s ease;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--btn-color-1);
  }

  70% {
    box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.btn-4 {
  background-color: var(--btn-color-1);
  border-radius: var(--border-radius);
  color: #000;
}

.btn-4:hover {
  animation: pulse2 1.5s ease;
}

@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 var(--btn-color-1);
  }

  70% {
    box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

/* Button 3 */
.btn-5 {
  background-color: var(--btn-color-1);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-5:before {
  background-color: #a0b6ce;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in 50ms;
  transform-origin: bottom left;
  z-index: -1;
}

.btn-5:hover::before {
  transform: rotate(0deg);
  transition: transform 0.5s ease-out 50ms;
}

.btn-6 {
  background-color: var(--btn-color-1);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-6:before {
  background-color: #a0b6ce;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in 50ms;
  transform-origin: bottom left;
  z-index: -1;
}

.btn-6:hover::before {
  transform: rotate(0deg);
  transition: all 0.5s ease-out 50ms;
}

/* Button 4 */
.btn-7 {
  background-color: var(--btn-color-1);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-7::before {
  background-color: #a0b6ce;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: all 0.5s ease-in 50ms;
  z-index: -1;
}

.btn-7:hover::before {
  transform: translateX(0);
  transition: all 0.5s ease-out 50ms;
}

.btn-8 {
  background-color: var(--btn-color-1);
  border-radius: var(--border-radius);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-8::before {
  background-color: #a0b6ce;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: all 0.5s ease-in 50ms;
  z-index: -1;
}

.btn-8:hover::before {
  transform: translateX(0);
  transition: all 0.5s ease-out 50ms;
}

/* Button 5 */
.btn-9 {
  background-color: var(--btn-color-2);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-9::before {
  background-color: #ff7d7d;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  transition: all 0.6s ease-in 50ms;
  z-index: -1;
}

.btn-9:hover::before {
  left: 0;
  right: auto;
  width: 100%;
  transition: all 0.5s ease-in 50ms;
}

.btn-10 {
  background-color: var(--btn-color-2);
  border-radius: var(--border-radius);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-10::before {
  background-color: #ff7d7d;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  transition: all 0.6s ease-in 50ms;
  z-index: -1;
}

.btn-10:hover::before {
  left: 0;
  right: auto;
  width: 100%;
  transition: all 0.5s ease-in 50ms;
}

/* Button 6 */
.btn-11 {
  background-color: var(--btn-color-2);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-11::before {
  background-color: #ff7d7d;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition: all 0.6s ease-in 50ms;
  z-index: -1;
}

.btn-11:hover::before {
  transform: translateY(0);
  transition: all 0.5s ease-out 50ms;
}

.btn-12 {
  background-color: var(--btn-color-2);
  border-radius: var(--border-radius);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-12::before {
  background-color: #ff7d7d;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition: all 0.6s ease-in 50ms;
  z-index: -1;
}

.btn-12:hover::before {
  transform: translateY(0);
  transition: all 0.5s ease-out 50ms;
}

/* Button 7 */
.btn-13 {
  background-color: var(--btn-color-2);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-13::before {
  background-color: #ff7d7d;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  transition: all 0.6s ease-in 50ms;
  z-index: -1;
}

.btn-13:hover::before {
  top: 0;
  bottom: auto;
  height: 100%;
  transition: all 0.5s ease-out 50ms;
}

.btn-14 {
  background-color: var(--btn-color-2);
  border-radius: var(--border-radius);
  color: #000;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-14::before {
  background-color: #ff7d7d;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  transition: all 0.6s ease-in 50ms;
  z-index: -1;
}

.btn-14:hover::before {
  top: 0;
  bottom: auto;
  height: 100%;
  transition: all 0.5s ease-out 50ms;
}

/* Button 8 */
.btn-15 {
  background-color: var(--btn-color-2);
  color: #000;
  overflow: hidden;
  position: relative;
}

.btn-15:hover {
  background-color: #ff7d7d;
}

.btn-15::before {
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%) rotate(-45deg);
  transition: all 0.6s ease-in 50ms;
}

.btn-15:hover::before {
  transform: translateX(100%) rotate(-45deg);
  transition: all 0.5s ease-out 50ms;
}

.btn-16 {
  background-color: var(--btn-color-2);
  border-radius: var(--border-radius);
  color: #000;
  overflow: hidden;
  position: relative;
}

.btn-16:hover {
  background-color: #ff7d7d;
}

.btn-16::before {
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%) rotate(-45deg);
  transition: all 0.6s ease-in 50ms;
}

.btn-16:hover::before {
  transform: translateX(100%) rotate(-45deg);
  transition: all 0.5s ease-out 50ms;
}

/* Button 9 */
.btn-17 {
  background-color: var(--btn-color-3);
  color: #000;
}

.btn-18 {
  background-color: var(--btn-color-3);
  border-radius: var(--border-radius);
  color: #000;
}

/* Button 10 */
.btn-19 {
  background-color: var(--btn-color-3);
  color: #000;
}

.btn-20 {
  background-color: var(--btn-color-3);
  border-radius: var(--border-radius);
  color: #000;
}

/* Button 11 */
.btn-21 {
  background-color: var(--btn-color-3);
  color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.6s ease-in 50ms;
  z-index: 1;
}

.btn-21::before {
  background-color: #73a173;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
}

.btn-22 {
  background-color: var(--btn-color-3);
  border-radius: var(--border-radius);
  color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.6s ease-in 50ms;
  z-index: 1;
}

.btn-22::before {
  background-color: #73a173;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
}

/* Button 12 */
.btn-23 {
  background-color: var(--btn-color-3);
  color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.6s ease-in 50ms;
  z-index: 1;
}

.btn-23::before {
  background-color: #73a173;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  height: 0;
  transition: all 0.5s ease-out 50ms;
  width: 50%;
  z-index: -1;
}

.btn-23:hover::before {
  height: 100%;
}

.btn-23::after {
  background-color: #73a173;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  height: 0;
  transition: all 0.5s ease-out 50ms;
  width: 50%;
  z-index: -1;
}

.btn-23:hover::after {
  height: 100%;
}

.btn-24 {
  background-color: var(--btn-color-3);
  border-radius: var(--border-radius);
  color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.6s ease-in 50ms;
  z-index: 1;
}

.btn-24::before {
  background-color: #73a173;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  height: 0;
  transition: all 0.5s ease-out 50ms;
  width: 50%;
  z-index: -1;
}

.btn-24:hover::before {
  height: 100%;
}

.btn-24::after {
  background-color: #73a173;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  height: 0;
  transition: all 0.5s ease-out 50ms;
  width: 50%;
  z-index: -1;
}

.btn-24:hover::after {
  height: 100%;
}
