@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #fbfbfb;
  --border-color: 1px solid #292e31;
  --text-color: #f2f2f2;
  --btn-color-1: #e57373;
  --btn-color-2: #32c1ca;
  --btn-color-3: #66bb6a;
  --btn-color-4: #f2ea79;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 2vmin);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #24292c;
  border-radius: 12px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  padding: 1.5em 0;
}

header h1 {
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
}

header .half-highlight {
  background-image: linear-gradient(to right, transparent 50%, #adcbff 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.5s;
}

header .half-highlight {
  background-position: -100% 100%;
}

/* Section 1 */
.section-1 {
  max-width: 100%;
  width: 1180px;
}

/* Container */
section .container {
  padding: 1em 1em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
}

section .box {
  background-color: #d0d1d1;
  border-radius: 0.375em;
  height: 8em;
}

button {
  margin: 0 auto;
}

.btn-color-1 {
  color: var(--btn-color-1);
}

.btn-color-2 {
  color: var(--btn-color-2);
}

.btn-color-3 {
  color: var(--btn-color-3);
}

.btn-color-4 {
  color: var(--btn-color-4);
}
