@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #fbfbfb;
  --text-color: #f2f2f2;
  --btn-color-1: #b2cbe5;
  --btn-color-2: #ff8f8f;
  --btn-color-3: #80b380;
  --btn-color-4: #8180cb;
  --border-radius: 1.563em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 2vmin);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 0.5em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  padding: 1.5em 0;
}

header h1 {
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
}

header .half-highlight {
  background-image: linear-gradient(to right, transparent 50%, #adcbff 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.5s;
}

header .half-highlight {
  background-position: -100% 100%;
}

/* Section 1 */
.section-1 {
  max-width: 100%;
  width: 1180px;
  margin: 0 auto;
}

/* Container */
.section-1 .container {
  padding: 1em 1em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.625em;
}

.section-1 .box {
  background-color: #f7f7f7;
  border-radius: 0.375em;
  height: 8em;
  /* Center btn within a div */
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

/* Section 2 */
.section-2 {
  width: 90%;
  margin: 0 auto;
}

.section-2 code {
  font-size: 0.875rem;
}

.btn-color-1 {
  color: var(--btn-color-1);
}

.btn-color-2 {
  color: var(--btn-color-2);
}

.btn-color-3 {
  color: var(--btn-color-3);
}

.btn-color-4 {
  color: var(--btn-color-4);
}

/* Section 3 */
.section-3 {
  margin: 1.375em auto;
  text-align: center;
}

.section-3 h3 {
  color: #191919;
  padding-bottom: 0.625em;
}

.section-3 li {
  list-style: none;
  padding-bottom: 0.313em;
}

.section-3 li a {
  color: #a5a5a5;
}

/* Footer */
footer {
  margin: 2.375em auto;
  text-align: center;
}

footer p {
  color: #666666;
}
