:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h3 {
  margin: 0.75em 0;
}

/* Section 1 */
section {
  position: absolute;
  margin-left: 445px;
  margin-top: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 20px;
}

.card {
  background-color: #24292c;
  border-radius: 0.375em;
  font-size: 13px;
  height: auto;
  width: 360px;
}

.card h3,
.card p {
  margin-left: 0.625em;
}

.btn-color-1 {
  color: var(--btn-color-1);
}
