@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --primary-color: #12171b;
  --border-color: 1px solid #292e31;
  --text-color: #f2f2f2;
  --btn-color-1: #dfe1dc;
  --btn-color-2: #b180d0;
  --btn-color-3: #0583f2;
  --btn-color-4: #5ab17c;
  --btn-color-5: #32c1ca;
  --btn-color-6: #ffb17a;
  --btn-color-7: #566db3;
  --btn-color-8: #9fcad4;
  --btn-color-9: #05c7f2;
  --btn-color-10: #05f2c7;
  --btn-color-11: #3c4359;
  --btn-color-12: #a2cdf2;
  --btn-color-13: #16f2b4;
  --btn-color-14: #d4d264;
  --btn-color-15: #f2ea79;
  --btn-color-16: #f27781;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 2vmin);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #24292c;
  border-radius: 12px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#navbar {
  background-color: var(--primary-color);
  border-right: var(--border-color);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 390px;
}

#navbar ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100% - 135px);
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Custom scrollbar */
#navbar ul::-webkit-scrollbar {
  width: 9px;
}

#navbar ul::-webkit-scrollbar-thumb {
  background-color: #24292c;
  border-radius: 12px;
}

#navbar li {
  list-style: none;
  margin: 15px auto;
}

header {
  border-bottom: var(--border-color);
  margin: 35px 0;
}

.title {
  font-family: "Great Vibes", cursive;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  background-color: #5c6bc0;
  border: none;
  color: #0c0c0c;
  cursor: pointer;
  font-weight: 600;
  outline: 0;
  padding: 0.9375em 2.1875em;
  text-transform: uppercase;
}

/* Button 1 */
.btn-1 {
  background-color: transparent;
  box-shadow: 0 0 0 3px var(--btn-color-1);
  color: var(--btn-color-1);
  transition: 0.3s ease-in-out;
}
.btn-1:hover {
  box-shadow: 0 0 7px 3px var(--btn-color-1);
  color: var(--btn-color-1);
  text-shadow: 0 0 1px var(--btn-color-1);
}

.btn-2 {
  background-color: transparent;
  box-shadow: 0 0 0 3px var(--btn-color-1);
  border-radius: 25px;
  color: var(--btn-color-1);
  transition: 0.3s ease-in-out;
}
.btn-2:hover {
  box-shadow: 0 0 7px 3px var(--btn-color-1);
  color: var(--btn-color-1);
  text-shadow: 0 0 1px var(--btn-color-1);
}

/* Button 2 */
.btn-3 {
  background-color: transparent;
  box-shadow: 0 0 0 3px var(--btn-color-2);
  color: var(--btn-color-2);
  position: relative;
  overflow: hidden;
}

.btn-3:hover {
  color: #fff;
}

.btn-3::before {
  content: "";
  display: block;
  background-color: var(--btn-color-2);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.6s cubic-bezier(0.62, 0, 0.45, 1);
  width: 0;
  z-index: -1;
}

.btn-3:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.btn-4 {
  background-color: transparent;
  box-shadow: 0 0 0 3px var(--btn-color-2);
  border-radius: 25px;
  color: var(--btn-color-2);
  position: relative;
  overflow: hidden;
}

.btn-4:hover {
  color: #fff;
}

.btn-4::before {
  content: "";
  display: block;
  background-color: var(--btn-color-2);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.6s cubic-bezier(0.62, 0, 0.45, 1);
  width: 0;
  z-index: -1;
}

.btn-4:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

/* Button 3 */
.btn-5 {
  background: transparent;
  box-shadow: 0 0 0 3px var(--btn-color-3);
  color: var(--btn-color-3);
  display: block;
  position: relative;
  overflow: hidden;
}

.btn-5:hover {
  color: #fff;
}

.btn-5::after {
  content: "";
  display: block;
  background-color: var(--btn-color-3);
  height: 210px;
  left: -240px;
  transform: rotate(35deg);
  position: absolute;
  top: -80px;
  transition: 0.8s cubic-bezier(0.62, 0, 0.45, 1);
  width: 195px;
  z-index: -1;
}

.btn-5:hover::after {
  left: 0;
  transition: all 0.8s cubic-bezier(0.62, 0, 0.45, 1);
}

.btn-6 {
  background: transparent;
  box-shadow: 0 0 0 3px var(--btn-color-3);
  border-radius: 25px;
  color: var(--btn-color-3);
  position: relative;
  overflow: hidden;
}

.btn-6:hover {
  color: #fff;
}

.btn-6::after {
  content: "";
  display: block;
  background-color: var(--btn-color-3);
  height: 210px;
  left: -240px;
  transform: rotate(35deg);
  position: absolute;
  top: -80px;
  transition: 0.8s cubic-bezier(0.62, 0, 0.45, 1);
  width: 195px;
  z-index: -1;
}

.btn-6:hover::after {
  left: 0;
  transition: all 0.8s cubic-bezier(0.62, 0, 0.45, 1);
}

/* Button 4 */
.btn-7 {
  background: transparent;
  box-shadow: 0 0 0 3px var(--btn-color-4);
  color: var(--btn-color-4);
  display: block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.185, 0.54, 0.315, 1);
}

.btn-7:hover {
  color: #000000;
  background-color: transparent;
  text-shadow: none;
}

.btn-7::before {
  background: var(--btn-color-4);
  bottom: 0;
  color: #000000;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.185, 0.54, 0.315, 1);
  width: 100%;
  z-index: -1;
}

.btn-7:hover::before {
  bottom: auto;
  height: 100%;
  top: 0;
}

.btn-8 {
  background: transparent;
  box-shadow: 0 0 0 3px var(--btn-color-4);
  border-radius: 25px;
  color: var(--btn-color-4);
  display: block;
  overflow: hidden;
  position: relative;
  transition: all 0.5s cubic-bezier(0.185, 0.54, 0.315, 1);
}

.btn-8:hover {
  color: #000000;
  background-color: transparent;
  text-shadow: none;
}

.btn-8::before {
  background: var(--btn-color-4);
  bottom: 0;
  color: #000000;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.185, 0.54, 0.315, 1);
  width: 100%;
  z-index: -1;
}

.btn-8:hover::before {
  bottom: auto;
  height: 100%;
  top: 0;
}

/* Button 5 */
.btn-9 {
  background: var(--btn-color-5);
  border: 3px solid var(--btn-color-5);
  color: #fff;
  transition: all 0.5s cubic-bezier(0.185, 0.54, 0.315, 1);
}

.btn-9:hover {
  animation: pulse 1.5s;
  border-color: var(--btn-color-5);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--btn-color-5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.btn-10 {
  background-color: var(--btn-color-5);
  border: 3px solid var(--btn-color-5);
  border-radius: 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.btn-10:hover {
  animation: pulse 1.5s;
  border-color: var(--btn-color-5);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--btn-color-5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

/* Button 6 */
.btn-11 {
  background: var(--btn-color-6);
  border: 3px solid var(--btn-color-6);
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn-11:hover {
  background-color: #f2f2f2;
  border-color: transparent;
  box-shadow: 5px 5px var(--btn-color-6);
  color: var(--btn-color-6);
}

.btn-12 {
  background: var(--btn-color-6);
  border: 3px solid var(--btn-color-6);
  border-radius: 25px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn-12:hover {
  background-color: #f2f2f2;
  border-color: transparent;
  color: var(--btn-color-6);
  box-shadow: 5px 5px var(--btn-color-6);
}

/* Button 7 */
.btn-13 {
  background-color: var(--btn-color-7);
  color: #fff;
  display: inline-block;
  font-size: 0.775rem;
  font-weight: 700;
  padding: 1.3em 2.7em;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.btn-13:hover {
  background-color: transparent;
  color: #18ffff;
}

a .span-btn-13 {
  background-color: #18ffff;
  display: block;
  position: absolute;
}

a .span-btn-13:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.6s;
}

a:hover .span-btn-13:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.6s;
}

a .span-btn-13:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.6s;
}

a:hover .span-btn-13:nth-child(2) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.6s;
}

a .span-btn-13:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.6s;
}

a:hover .span-btn-13:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.6s;
}

a .span-btn-13:nth-child(4) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  transform: scaleY(0);
  transform-origin: left;
  transition: transform 0.6s;
}

a:hover .span-btn-13:nth-child(4) {
  transform: scaleY(1);
  transform-origin: right;
  transition: transform 0.6s;
}

.btn-14 {
  background: var(--btn-color-7);
  color: #fff;
  display: inline-block;
  position: relative;
  transition: 0.2s ease-in-out;
  font-size: 0.775rem;
  font-weight: 700;
  padding: 1.3em 2.7em;
  position: relative;
  text-transform: uppercase;
}

.btn-14:hover {
  /* background-color: transparent; */
  color: #18ffff;
}

a .span-btn-14 {
  background-color: #18ffff;
  display: block;
  position: absolute;
}

a .span-btn-14:nth-child(1) {
  bottom: 0;
  height: 100%;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.6s;
  width: 3px;
}

a:hover .span-btn-14:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.6s;
}

a .span-btn-14:nth-child(2) {
  left: 0;
  height: 3px;
  top: 0;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.6s;
  width: 100%;
}

a:hover .span-btn-14:nth-child(2) {
  transform: scaleY(1);
  transform-origin: left;
  transition: transform 0.6s;
}

a .span-btn-14:nth-child(3) {
  bottom: 0;
  height: 100%;
  right: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.6s;
  width: 3px;
}

a:hover .span-btn-14:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.6s;
}

a .span-btn-14:nth-child(4) {
  bottom: 0;
  height: 3px;
  left: 0;
  transform: scaleY(0);
  transform-origin: left;
  transition: transform 0.6s;
  width: 100%;
}

a:hover .span-btn-14:nth-child(4) {
  transform: scaleY(1);
  transform-origin: right;
  transition: transform 0.6s;
}

/* Button 8 */
.btn-15 {
  background: transparent;
  border: 3px solid var(--btn-color-8);
  color: var(--btn-color-8);
}

.btn-16 {
  background: transparent;
  border: 3px solid var(--btn-color-8);
  border-radius: 25px;
  color: var(--btn-color-8);
}

/* Button 9 */
.btn-17 {
  background: transparent;
  border: 3px solid var(--btn-color-9);
  color: var(--btn-color-9);
}

.btn-18 {
  background: transparent;
  border: 3px solid var(--btn-color-9);
  border-radius: 25px;
  color: var(--btn-color-9);
}

/* Button 10 */
.btn-19 {
  background: transparent;
  border: 3px solid var(--btn-color-10);
  color: var(--btn-color-10);
}

.btn-20 {
  background: transparent;
  border: 3px solid var(--btn-color-10);
  color: var(--btn-color-10);
  border-radius: 25px;
}

/* Button 11 */
.btn-21 {
  background: transparent;
  border: 3px solid var(--btn-color-11);
  color: var(--btn-color-11);
}

.btn-22 {
  background: transparent;
  border: 3px solid var(--btn-color-11);
  color: var(--btn-color-11);
  border-radius: 25px;
}

/* Button 12 */
.btn-23 {
  background: transparent;
  border: 3px solid var(--btn-color-12);
  color: var(--btn-color-12);
}

.btn-24 {
  background: transparent;
  border: 3px solid var(--btn-color-12);
  color: var(--btn-color-12);
  border-radius: 25px;
}

/* Button 13 */
.btn-25 {
  background: transparent;
  border: 3px solid var(--btn-color-13);
  color: var(--btn-color-13);
}

.btn-26 {
  background: transparent;
  border: 3px solid var(--btn-color-13);
  color: var(--btn-color-13);
  border-radius: 25px;
}

/* Button 14 */
.btn-27 {
  background: transparent;
  border: 3px solid var(--btn-color-14);
  color: var(--btn-color-14);
}

.btn-28 {
  background: transparent;
  border: 3px solid var(--btn-color-14);
  color: var(--btn-color-14);
  border-radius: 25px;
}

/* Button 15 */
.btn-29 {
  background: transparent;
  border: 3px solid var(--btn-color-15);
  color: var(--btn-color-15);
}

.btn-30 {
  background: transparent;
  border: 3px solid var(--btn-color-15);
  color: var(--btn-color-15);
  border-radius: 25px;
}

/* Button 16 */
.btn-31 {
  background: transparent;
  border: 3px solid var(--btn-color-16);
  color: var(--btn-color-16);
  margin-bottom: 20px;
}

.btn-32 {
  background: transparent;
  border: 3px solid var(--btn-color-16);
  color: var(--btn-color-16);
  border-radius: 25px;
  margin-bottom: 20px;
}

section {
  position: absolute;
  margin-left: 405px;
}
